<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no;" />
    <title>TypeScript Backbone Require jQuery - HTML App Biolerplate</title>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
    <script src="js/config.js"></script>

</head>
<body>
    <div id="preLoad">
        <center><h1>loading... </h1></center>
    </div>
    <div id="loaded" style="display: none">
        <div id="index" data-role="page">

            <div data-role="header" data-tap-toggle="false" data-position="fixed">
                <h1>Index - CrossFront - TypeScript Backbone Require jQuery Mobile - HTML5 App Boilerplate</h1>
                <a href="#popupPanel" data-rel="popup" data-transition="slide" data-position-to="window" data-role="button" class="ui-btn-right">Open panel</a>
            </div>

            <div data-role="content">
                <div id="it"></div>
                <center>
                    <div>
                        <h1>CrossFront.js</h1>
                        <img src="images/Crossfront.png" />
                    </div>
                </center>
                <h2>The Index Page</h2>
                
                <div>
                    
                    
                    <p>
                        <b>What is CrossFront</b><br />
                        CrossFront is a boilerplate crossplatform frontend framework to help you quickly build desktop/tablet/mobile applications using the motto "code once - run everywhere".
                        If you have ever tried to develop a mobile/desktop application using jquery mobile and phonegap it works great for simple 
                        ideas and proof of concept sites. When you graduate to developing a full blown application the code becomes a nightmare of 
                        tangled spaghetti code and framework sprawl. Unless you are a javascript master and maintain your own way to manage and organize code you need 
                        to use a combination of the many javascript frameworks out there. This kickstart project will provide you with a crossplatform framework along 
                        with tutorial videos on how create an application from scratch. Server side code is not in scope for this project and assumes a RESTful web api backend.
                    </p>
                    <p>

                        I started this project when attempting to build a Facebook Mobile/Desktop applcation. I quickly realized I sucked at javascript and needed the right recipe of frameworks 
                        to make this project do-able. After A ton of searching I relized nobody has really put all the frameworks together in a nice boilerplate. In the process I learned how to do the
                        AMD approach. This basically reminds me of traditional object oriented programming languages with good organization and structure.                   
                         This is my attempt at solving this 
                        problem.
                    </p>

                    <b>Frameworks used:</b>
                    <ul>
                        <li>
                            jquery - DOM manipulation
                        </li>
                        <li>
                            jquery mobile - Mobile UI and touch events
                        </li>
                        <li>
                            jquery mobile router - Hash routing
                        </li>
                        <li>
                            Backbone - Code organization
                        </li>
                        <li>
                            Underscore - For utilities
                        </li>
                        <li>
                            Require.js - For module loading and namespacing
                        </li>
                        <li>
                            phonegap - For crossplatform functionality. iOS, Android etc... Also used for saving to local database when offline, then sync to database 
                        </li>
                        <li>
                            Offline vs. Online Only support
                        </li>
                        <li>
                            TypeScript - Code structure and organization (classes, modules, intellisense, AMD), coding is similar to c#
                        </li>

                    </ul>
	
	                <p>
                        <b>Key Takeaways:</b><br />
                        This project will show you how to build a base boilerplate starting point for your application. It will enable you to quickly build 
                        scalable iPhone, Android, Windows Phone, Tablet, and Desktop applications.

	                </p>
	
	
	
	
	
                    <br /><br />
                    <ul class="side-menu" data-role="listview">
                        <li class="id">Id: <%= id %></li>
                        <li class="title">Titolo: <%= title %></li>
                        <li class="text">Testo: <%= text %></li>
                    </ul>


                    <div data-role="popup" id="popupPanel" data-corners="false" data-theme="none" data-shadow="false" data-tolerance="0,0" class="popupPanel">
                        <div style="padding: 10px 10px 10px 10px;">
                            <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
                            <ul class="overlay-list" data-role="listview" data-theme="c" data-inset="true">
                                <li><a href="#index">index</a></li>
                                <li><a href="#one">page one</a></li>
                                <li><a href="#two">page two</a></li>
                            </ul>
                        </div>

                    </div>

                </div>
            </div>

            <div data-role="footer" data-tap-toggle="false" data-position="fixed">
                <h4>Footer</h4>
            </div>

        </div>

        <div id="one" data-role="page" data-add-back-btn="true">

            <div data-role="header" data-tap-toggle="false" data-position="fixed">
                <h1>Page One</h1>
                <a href="#popupPanel" data-rel="popup" data-transition="slide" data-position-to="window" data-role="button" class="ui-btn-right">Open panel</a>
            </div>

            <div data-role="content">
                dynamic load page one
            </div>

            <div data-role="footer" data-tap-toggle="false" data-position="fixed">
                <h4>Footer</h4>
            </div>

        </div>

        <div id="two" data-role="page" data-add-back-btn="true">

            <div data-role="header" data-tap-toggle="false" data-position="fixed">
                <h1>Page Two</h1>
                <a href="#popupPanel" data-rel="popup" data-transition="slide" data-position-to="window" data-role="button" class="ui-btn-right">Open panel</a>
            </div>

            <div data-role="content">
                dynamic load
            </div>

            <div data-role="footer" data-tap-toggle="false" data-position="fixed">
                <h4>Footer</h4>
            </div>

        </div>
    </div>

    <script data-main="js/main" src="js/libs/require.js?v=1"></script>
</body>
</html>